<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Post method to NodeServer</h2>
    <form id="mform">
      <input name="name" type="text" placeholder="produto" />
      <input name="price" type="number" placeholder="price" />
      <input name="description" type="text" placeholder="description" />
      <input type="submit" value="Send" />
    </form>
  </body>
  <script>
    const form = document.querySelector("#mform");

    form.onsubmit = function (event) {
      event.preventDefault();
      const ajaxn = new XMLHttpRequest();
      const data = new FormData(form);
      data.append("referer", "https://example.com");
      ajaxn.open("POST", "http://localhost:5000/api/products");
      ajaxn.setRequestHeader("content-Type", "application/json");
      var json = JSON.stringify(Object.fromEntries(data));
      ajaxn.send(json);
    };
  </script>
</html>
